/* todo 按钮(default) 样式修订 */
.z-btn.v-btn:not(.v-btn--round) {
  text-transform: initial;

  &.v-size--x-small {
    height: 20px;

    & > .v-btn__content {
      transform: scale(0.9);
    }

    .v-btn__loader {
      .v-progress-circular {
        max-width: 12px;
        max-height: 12px;
      }
    }
  }

  &.v-size--small {
    height: 28px;

    .v-btn__loader {
      .v-progress-circular {
        max-width: 16px;
        max-height: 16px;
      }
    }
  }

  &.v-size--default {
    height: 32px;

    .v-btn__loader {
      .v-progress-circular {
        max-width: 20px;
        max-height: 20px;
      }
    }
  }

  &.v-size--large {
    height: 38px;

    .v-btn__loader {
      .v-progress-circular {
        max-width: 20px;
        max-height: 20px;
      }
    }
  }

  &.v-size--x-large {
    height: 46px;

    .v-btn__loader {
      .v-progress-circular {
        max-width: 20px;
        max-height: 20px;
      }
    }
  }
}

.v-btn--fab {
  &.v-size--x-small {
    width: 20px;
    height: 20px;
  }

  &.v-size--small {
    width: 28px;
    height: 28px;
  }

  &.v-size--default {
    width: 32px;
    height: 32px;
  }

  &.v-size--large {
    width: 38px;
    height: 38px;
  }

  &.v-size--x-large {
    width: 46px;
    height: 46px;
  }
}

.v-btn--icon {
  &.v-size--x-small {
    width: 20px;
    height: 20px;
  }

  &.v-size--small {
    width: 28px;
    height: 28px;
  }

  &.v-size--default {
    width: 32px;
    height: 32px;
  }

  &.v-size--large {
    width: 38px;
    height: 38px;
  }

  &.v-size--x-large {
    width: 46px;
    height: 46px;
  }
}

.z-btn.v-btn.secondary--text:not(.v-btn--text) {
  border: solid 1px rgba(0, 0, 0, 0.2);
}
