@import "./ver";
@import "./scrollbar";

html {
  overflow-y: auto;
}

.transparent-bg {
    background-image: var(--transparent);
    background-color: rgb(242, 242, 242);
    background-repeat: repeat;
}