@mixin dark-scrollbar($mt: 0, $w: 6px) {
    ::-webkit-scrollbar {
        width: $w;
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: $w;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
        background: #7a7a7a;
    }

    ::-webkit-scrollbar-track {
        @if ($mt != 0) {
            margin-top: $mt;
        }
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
        background: #363636;
    }
}

@mixin light-scrollbar($mt: 0, $w: 6px) {
    ::-webkit-scrollbar {
        width: $w;
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: $w;
        box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
        background: #c8c8c8;
    }

    ::-webkit-scrollbar-track {
        @if ($mt != 0) {
            margin-top: $mt;
        }
        box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
        border-radius: $w;
        background: rgba(234, 234, 234, 0.8);
    }
}

/* todo 全局滚动条样式修订 */
.theme--dark {
    @include dark-scrollbar;
}

.theme--light {
    @include light-scrollbar;
}
