@import "../input-icon.scss";

$currentHeight: 46px;
$inputFontSize: 15px;

.v-select-size--x-large {
    .v-label {
        font-size: 15px;
    }

    &.v-input {
        font-size: 15px;
    }

    /* 定制下拉框列表样式 */
    > .v-list-item--dense,
    > .v-list-item {
        min-height: $currentHeight;
    }

    /* 定制下拉框紧凑模式列表样式 */
    &.v-list--dense {
        > .v-list-item--dense,
        > .v-list-item {
            min-height: $currentHeight;
        }
    }

    .v-list-item .v-list-item__content {
        padding: 4px 0;

        .v-list-item__title {
            font-size: 14px;
            font-weight: bold;
        }
    }

    .v-input__append-inner {
        > .v-input__icon--clear {
            .v-icon {
                font-size: 18px;
            }
        }
    }

    &.v-text-field {
        &.v-text-field--solo {
            > .v-input__control {
                min-height: $currentHeight;

                > .v-input__slot {
                    min-height: $currentHeight;
                }
            }

            &.v-input--dense {
                /* 定制输入框 icon */
                @include input-icon($inputFontSize + 8, null, 12px);

                > .v-input__control {
                    min-height: $currentHeight;
                }
            }
        }

        &.v-text-field--outlined.v-input--dense {
            > .v-input__control {
                min-height: $currentHeight;

                > .v-input__slot {
                    min-height: $currentHeight;

                    > .v-select__slot {
                        > .v-input__append-inner {
                            margin-top: 12px;
                        }

                        .v-select__selections {
                            input {
                                max-height: 38px;
                            }
                        }
                    }
                }
            }
        }

        &.v-text-field--filled.v-text-field--single-line {
            > .v-input__control {
                min-height: $currentHeight;

                > .v-input__slot {
                    min-height: $currentHeight;
                }
            }
        }
    }

    &.v-text-field--enclosed {
        &.v-input--dense {
            &:not(.v-text-field--solo) {
                &.v-text-field--outlined,
                &.v-text-field--single-line {
                    /* 定制输入框 icon */
                    @include input-icon($inputFontSize + 8, 12px, 12px);
                }
            }
        }
    }
}
