.z-message {
  &.v-snack {
    .v-snack__wrapper {
      opacity: 0;
      transition: opacity 0.3s, top 0.25s;
      min-height: 42px;

      .v-snack__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 14px;
        min-height: 42px;

        > .v-icon {
          margin-right: 8px;
        }

        > .v-btn {
          padding: 0;
        }

        .text {
          flex: 1;
          padding: 0;
        }
      }
    }
  }
}
.z-message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  pointer-events: none;
  z-index: 1000;
}
