.z-textarea-size--x-small,
.z-textarea-size--small {
  font-size: 13px;
}

.z-textarea-size--default {
  font-size: 13px;
}

.z-textarea-size--large {
  font-size: 14px;
}

.z-textarea-size--x-large {
  font-size: 15px;
}
